/*hoja de estilos */

/*tres selectores*/

/*selector de estiquetas*/

p h2 {
  color: blueviolet;
}

.contenedor {
  color: black; /*modifica el color del texto*/
  background-color: rgb(68, 65, 65); /*modifica el color del fondo*/
  font-size: 20px;
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
  border: 2px solid black; /*ancho-tipo-color*/
  padding: 5px; /*espacio del elemento hacia los bordes*/
  margin: 100px; /*espacio del elemento desde los bordes*/
  border-radius: 0px;
  width: 800px; /*ancho*/
  height: 300px; /*alto*/
}

.contenedor2 {
  color: black; /*modifica el color del texto*/
  background-color: rgb(32, 31, 31); /*modifica el color del fondo*/
  font-size: 20px;
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
  border: 2px solid black; /*ancho-tipo-color*/
  padding: 10px; /*espacio del elemento hacia los bordes*/
  margin: 100px; /*espacio del elemento desde los bordes*/
  border-radius: 0px;
  width: 600px; /*ancho*/
  height: 200px; /*alto*/
}

.imagen {
}
